*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.matched {
    color: #cba600;
    animation: bounce 1s ease-in ;
}

@keyframes bounce {
    20%{
        transform: translateY(-10px);
    }
    40%{
        transform: none;
    }
}

.mainContainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #323437;
}

.arya-regular{
    font-family: "Arya", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a4a49f; 
}

.charDisplay, .randomWord{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.charDisplay{
    font-size: 2.5em;
}

.randomWord{
    font-size: 5em;
}

button {
    font-size: 1em;
    font-family: "Sura", serif;
    font-weight: 400;
    font-style: normal;
      
}

.Caps, .Tab, .Shift, .Backspace{
    background-color: #6c6c6c !important;
}

.Space, .Enter{
    background-color: #cba600 !important;
}
span {
    margin: 3px;
}

.pressed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}

.container {
    padding: 10px;
    /* border: 2px solid #ccc; */
    border-radius: 10px;
    width: 1000px;
    margin: 0 auto;
    background-color: #636363;
}

.item {
    border-radius: 5px;
    cursor: pointer;
    height: 70px;
    margin: 0px;
    text-align: center;
    background-color: #a4a49f;
}

.row0, .row1, .row2, .row3, .row4 {
    display: grid;
    grid-template-columns: repeat(14, auto);
}

.Shift, .Enter {
    grid-column: span 2;
}

.Space {
    grid-column-start: 4;
    grid-column-end: 12;
}