.mainContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arya-regular{
    font-family: "Arya", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #008080; 
}

.charDisplay, .randomWord{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.charDisplay{
    font-size: 2.5em;
}

.randomWord{
    font-size: 5em;
}

button {
    font-size: 1em;
    font-family: "Sura", serif;
    font-weight: 400;
    font-style: normal;
      
}

span {
    margin: 3px;
}

button:active, .pressed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}

.container {
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 1000px;
    margin: 0 auto;
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    height: 70px;
    margin: 0px;
    text-align: center;
}

.row0, .row1, .row2, .row3, .row4 {
    display: grid;
    grid-template-columns: repeat(14, auto);
}

.Shift, .Enter {
    grid-column: span 2;
}

.Space {
    grid-column-start: 4;
    grid-column-end: 12;
}